.signin {
  width: 100%;
  height: 100%;
  background-color: #000000;
  .el-input__inner {
    height: 30px;
  }
  .login-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 5px;
    background-clip: padding-box;
    background-color: #F9FAFC;
    border: 2px solid #8492A6;
    width: 350px;
    height: 350px;
    padding: 35px 35px 15px 35px;
    .title {
      margin: 0px auto 40px auto;
      text-align: center;
      color: #505458;
      font-weight: 700;
      font-size: 20px !important;
    }
    .remember {
      margin: 0px 0px 35px 0px;
    }
    #getImg{
      height: 27px;
      display: inline-block;
      cursor: pointer;
      width: 70%;
    }
    #getImg label{
      margin-left: 10px;
      font-weight: normal;
      vertical-align: top;
      cursor: pointer;
    }
  }
}
